
/* FONTS */
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url(https://fonts.gstatic.com/s/bangers/v10/FeVQS0BTqb0h60ACH55Q2A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'), url(https://fonts.gstatic.com/s/luckiestguy/v8/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* END OF FONTS */

.pilihanPlayer{
  cursor: pointer
}
.result{
  font-family: 'Bangers';
  font-size: 80px
}
.roshambo{
  text-align: center;
  font-family: 'Bangers';
  padding-bottom: 20px
}
.vs {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Luckiest Guy';
  font-size: 80px
}

.buttons1{
  position: relative;
  left: -30%;
}
img{
  height: 200px;
  width: 200px;
}
.frmawal input{
    background: rgba(34, 33, 33, 0.658);
    color: white
}
.frmawal label{
    color: rgba(240, 240, 240, 0.884)
}

#formWlcm{
    width: 180px;
    position: relative;
    left: 69px;
    padding-bottom: 10px
}
#login-box{
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    margin: 0 auto;
    background:cadetblue;
    min-height: 250px;
    padding: 20px;
       
}
#submitBtn {
  padding: 12px 60px;
  outline: none;
  background-color: #ff8300f2;
  border: none;
  border-radius: 43px;
  box-shadow: 0 4px #000000;
  position: relative;
  left: -5%;
  }
  
  #submitBtn:hover{
    background-color: #ffffff;
  }
  
  #submitBtn:active {
    background-color: #ff8300f2;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
  }

.gambar{
    height:200px ;
}
.gambar1{
    height: 200px;
}
.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    position: relative;
    left: 30%;
  }
  
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  .red {
    background-color: #ff8300f2;
    box-shadow: 0px 5px 0px 0px rgb(3, 3, 0);
  }
  
  .red:hover {
    background-color: rgb(230, 148, 72);
  }  